<head>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static "leaderboard.css" %}" media="screen" />

	<script type="text/JavaScript">
	redirectTime = "60000";
	redirectURL = "/fishingcontest/leaderboard_long/";
	function timedRedirect() {
		setTimeout("location.href = redirectURL;",redirectTime);
	}
	</script>

	<title>Long Leaderboard</title>
</head>

<body>

<div onclick="javascript: location.href = redirectURL;" width="100%">
{% if leader_lists %}
    {% for leader_list, name in leader_lists %}
	<div class="leadercolumn">
		<table class="leadertable">
		{% if name %}
			<tr class="header"><td colspan=5>{{name}}</td></tr>
		{% endif %}
			
		{% if leader_list %}
			{% for leader in leader_list %}
			<tr class="fisher-row">
				<td  class="fisher-cell">{{leader.rank}}</td>
				<td  class="fisher-cell">{{leader.name}}</td>
				<td class="fisher-cell" {% if leader.biggest_fish.color %} style="color: {{leader.biggest_fish.color}};"{% endif %}>
					{{leader.biggest_fish.weight}}&nbsp;
				</td>
			</tr>
			{% endfor %}
		{% else %}
			<tr class="fisher-row"><td colspan=5>No contestants in this group.</td></tr>
		{% endif %}
		</table>
	</div>
	{% endfor %}
{% endif %}
<br>
&nbsp&nbsp&nbsp&nbsp
<br>
<div style="font-size:x-large;">
<span style="color: blue">Blue</span>&nbsp- 1st Place&nbsp&nbsp&nbsp&nbsp
<span style="color: red">Red</span>&nbsp- 2nd Place&nbsp&nbsp&nbsp&nbsp
<span style="color: green">Green</span>&nbsp- 3rd Place&nbsp&nbsp&nbsp&nbsp
</div>
</body>