<head>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static "leaderboard.css" %}" media="screen" />
	
	<script src="{% static "lib/bootstrap/js/bootstrap.min.js" %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static "lib/bootstrap/css/bootstrap.min.css" %}" />

	{% if do_refresh %} 
	<script type="text/JavaScript">
	redirectTime = "5000";
	redirectURL = "/fishingcontest/leaderboard/?list_page={{list_page}}";
	function timedRedirect() {
		setTimeout("location.href = redirectURL;",redirectTime);
	}
	timedRedirect();
	</script>
	{% endif %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{title}}</title>
</head>

<body onclick="javascript: location.href = redirectURL;" >

<div class="row">
{% if leader_lists %}
    {% for leader_list, name, new_row in leader_lists %}
		<div class="{{layout_class}}" style="padding: 0.1em">
		<table class="leadertable">
		{% if name %}
			<tr class="header"><td colspan=5>{{name}}</td></tr>
		{% endif %}

		{% if leader_list %}
			{% for leader in leader_list %}
			<tr class="fisher-row">
				<td class="fisher-cell">{{leader.rank}}</td>
				<td class="fisher-cell">{{leader.name}}</td>
				<td{% if leader.biggest_fish.color %} style="color: {{leader.biggest_fish.color}};font-weight:bold;"{% endif %}>
					{{leader.biggest_fish.weight}}&nbsp;
				</td>
			</tr>
			{% endfor %}
		{% else %}
			<tr class="fisher-row"><td colspan=5>No contestants in this group.</td></tr>
		{% endif %}
		</table>
	</div>
	{% endfor %}
{% endif %}

</body>
