<html ng-app="app">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

{% load staticfiles %}

<script src="{% static "jquery-3.0.0.min.js" %}"></script>
<script src="{% static "jquery.contextMenu.js" %}"></script>
<link rel="stylesheet" type="text/css" href="{% static "jqeury.contextMenu.css" %}" media="screen" />

<script src="{% static "angular.min.js" %}"></script>

<script src="{% static "main.js" %}"></script>
<link rel="stylesheet" type="text/css" href="{% static "main.css" %}" media="screen" />

<title>Fishing Contest</title>
</head>

<body oncontextmenu="return false;">
	<a href="{% url 'leaderboard' %}">Leaderboard</a><br/>
	<a href="{% url 'leaderboard_long' %}">Long Leaderboard</a>
	<a href="{% url 'main' %}"><h1>Kid's Fishing Contest <span id="year"></span></h1></a>
{% verbatim %} <!-- Django ignores curly braces after verbatim -->
	<div width="50%" ng-controller="Contestants as contestants">
		<div ng-if="contestants.loaded">
		<h2>Contestants (<span id="c-count">{{contestants.count()}}</span>)</h2>
		<ul>
			<li ng-repeat="(id, contestant) in contestants.items" class="contestant {{contestant.gender}}" >
				<span contestant-context ng-click="contestants.contestantClick(contestant.id)">
					{{contestant.last_name}}, {{contestant.first_name}} ({{contestant.age}})
				</span>
				<ul ng-if="contestant.show_fish">
					<li ng-repeat="(id, fish) in contestant.fish" fish-context>
						<span class="fish">{{fish.weight}}&nbsp;<span style="font-size:x-small">at {{fish.weigh_time}}</span></span>
					</li>
					<li>
						<form>
							<input type="number" placeholder="Fish weight" ng-model="contestant.new_fish.weight" focus-weight-box></input>
							<button type="submit" ng-click="contestants.addFish(contestant.id)">Add fish</button>
						</form>
					</li>
				</ul>
			</li>
			<li>
				<form>
					<input id="first-name" ng-model="contestants.new_contestant.firstName" placeholder="First name"></input>
					<input ng-model="contestants.new_contestant.lastName" placeholder="Last name"></input>
					<input ng-model="contestants.new_contestant.age" placeholder="Age" type="number"></input>
					<select ng-model="contestants.new_contestant.gender">
						<option value="M">Boy</option>
						<option value="F">Girl</option>
					</select>
					<button type="submit" ng-click="contestants.addContestant()">Add new</button><form>
			</li>
		</ul>
	</div>
	</div>
	
	<!-- Taken from view-source:http://labs.abeautifulsite.net/archived/jquery-contextMenu/demo/ -->
	<ul id="deleteMenu" class="contextMenu">
		<li class="delete"><a href="#delete">Delete Contestant</a></li>
		<li class="quit separator"><a href="#refresh">Refresh</a></li>
	</ul>
	<ul id="deleteFishMenu" class="contextMenu">
		<li class="delete"><a href="#deletefish">Delete Fish</a></li>
		<li class="quit separator"><a href="#refreshfish">Refresh</a></li>
	</ul>
</body>
{% endverbatim %}
</html>